@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');
* {
    font-family: 'Edu AU VIC WA NT Hand', cursive !important;
}

body {
    font-family: 'Edu AU VIC WA NT Hand', cursive !important;
    margin: 0;
    padding: 0;
    background-color: rgb(217, 170, 255);
}

html {
    font-family: 'Edu AU VIC WA NT Hand', cursive !important;
}