<nav class="navbar">
  <div class="contenedor">
    <a routerLink="/dashboard" class="titulo">Salon Manager</a>

    <div id="navbarNav" class="menu">
      <ul class="lista-izquierda">
        <li *ngIf="authService.isAuthenticated()">
          <a routerLink="/dashboard" class="enlace">Dashboard</a>
        </li>
        <li *ngIf="authService.isAuthenticated()">
          <a routerLink="/citas" class="enlace">Mis Citas</a>
        </li>
        <li *ngIf="authService.isAuthenticated() && user?.rol === 'CLIENTE'">
          <a routerLink="/citas/crear" class="enlace">Nueva Cita</a>
        </li>
        <li
          *ngIf="authService.isAuthenticated() && user?.rol === 'PROFESIONAL'">
          <a routerLink="/citas/gestionar" class="enlace">Gestionar Citas</a>
        </li>
        <li *ngIf="
            authService.isAuthenticated() && (user?.rol === 'PROFESIONAL' || user?.rol === 'ADMIN')
          ">
          <a routerLink="/servicios" class="enlace">Servicios</a>
        </li>
        <li *ngIf="authService.isAuthenticated() && user?.rol === 'ADMIN'">
          <a routerLink="/usuarios" class="enlace">Usuarios</a>
        </li>
      </ul>

      <ul class="lista-derecha">
        <li *ngIf="user">
          <span class="usuario"> {{ user.nombre }} ({{ user.rol }}) </span>
        </li>
        <li *ngIf="authService.isAuthenticated()">
          <button (click)="logout()" class="boton">Cerrar Sesión</button>
        </li>
      </ul>
    </div>
  </div>
</nav>